@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #7E22CE;
  --color-primary-content: #ffffff;

  --color-secondary: #C026D3;
  --color-secondary-content: #ffffff;

  --color-accent: #A855F7;
  --color-accent-content: #ffffff;

  --color-neutral: #3D4451;
  --color-neutral-content: #ffffff;

  --color-base-100: #FAF5FF;
  --color-base-200: #E9D5FF;
  --color-base-content: #1F1F1F;

  --color-info: #3B82F6;
  --color-success: #10B981;
  --color-warning: #F59E0B;
  --color-error: #EF4444;
}

@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #8B5CF6;
  --color-primary-content: #ffffff;

  --color-secondary: #D946EF;
  --color-secondary-content: #ffffff;

  --color-accent: #A855F7;
  --color-accent-content: #ffffff;

  --color-neutral: #1E1B2E;
  --color-neutral-content: #E9D8FD;

  --color-base-100: #1A103D;
  --color-base-200: #2E1B5B;
  --color-base-content: #E9D8FD;

  --color-info: #3B82F6;
  --color-success: #10B981;
  --color-warning: #F59E0B;
  --color-error: #EF4444;
}
/* custom css */
.input-shadow {
    box-shadow:
        inset 3px 3px 5px 0px rgb(75 75 75 / 30%), 
        inset -3px -3px 5px 0px rgba(255, 255, 255, 0.30), 
        -3px -3px 10px 0px rgba(255, 255, 255, 0.50), 
        3px 3px 10px 0px rgb(75 75 75 / 30%);
    background:rgb(245 210 245 / 30%);
    font-weight:bold
}

.select-shadow {
    box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.1),
        1px 1px 7px 0px rgba(0, 0, 0, 0.6);
        background:rgb(245 210 245 / 30%);
}

a.active{
    background-color: rgb(190, 95, 230);
    color: white;
}